In [7]:

print(3+9)

12

In [6]:
print(6-5)

1

In [3]:
print(4%4)

0

In [4]:
print(25*25)

625

In [32]:
Import Keyword
Keyword.Kwlist

SyntaxError: invalid syntax (3761113220.py, line 1)

In [33]:
# Identifier

In [34]:
name = 'Anil'

my_identifier = name

In [ ]:
# Variables

In [29]:
s=10                                  ------>assigned value
print(s)                              ------->variable

10

In [38]:
a = 10
def function():
    global a
    a += 10
    print(a)
    function()

In [ ]:
# list------>multiple items into single variables

In [46]:
my_list = ["csk","rcb","mi","kkr"]
print (my_list)

['csk', 'rcb', 'mi', 'kkr']

In [51]:
len(my_list)

4

In [50]:
print(len(my_list))

4

In [58]:
list1 = ["ind","aus","eng"]
list2 = [1,2,3,4,5]
list3 = [True,False]
print(list1,list2,list3)

['ind', 'aus', 'eng'] [1, 2, 3, 4, 5] [True, False]

In [59]:
list1 = ["IND","AUS","ENG",1,2,3,4,5,"Male","Female"]
print(list1)

['IND', 'AUS', 'ENG', 1, 2, 3, 4, 5, 'Male', 'Female']

In [ ]:
# Tuple

In [66]:
tuple1=("IND","AUS","ENG")
print(tuple1)

('IND', 'AUS', 'ENG')

In [68]:
print(len(tuple1))

3

In [ ]:
# sets

In [69]:
set1 = {"IND","AUS","ENG"}
print(set1)

{'ENG', 'AUS', 'IND'}

In [75]:
my_set = {"IND","AUS","ENG",1,2,3,4,5,"Male","Female"}
print(my_set)

{1, 2, 3, 4, 5, 'IND', 'AUS', 'ENG', 'Male', 'Female'}

In [ ]:
# dictionary

In [76]:
a = 33
b = 220
if b>a:
    print("b is greater than a")

b is greater than a